*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *** GENERAL STYLING *** */
@font-face {
  font-family: 'Lato';
  src: url('../../../../../../code/fonts/Lato/Lato/Lato-Regular.ttf') format('ttf');
}

h2 {
  font-size: 2.7rem;
}

img {
  height: 5rem;
  width: 5rem;
}

input,
textarea {
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 1.3rem 1rem;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  border-radius: 3px;
  font-size: 2rem;
  position: relative;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  width: 100%;
  resize: none;
}

label {
  position: absolute;
  z-index: 1;
  padding: 0 7px;
  font-size: 17px;
  color: gray;
  opacity: 0.8;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Lato';
}

/* *** APP *** */
.form--container {
  display: grid;
  place-content: center;
  padding: 0 2rem;
}

.form--header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-block: 2rem;
}

.form--main_form {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
}

.form--submit_button,
.add-more-button,
.delete-button {
  display: flex;
  place-self: center;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 3px;
  box-shadow: 
  inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1);
  cursor: pointer;
  background: transparent;
  padding: 2rem;
}

.form--submit_button {
  display: grid;
  place-content: center;
  font-size: 1.8rem;
  font-weight: 800;
}

/* *** GENERAL INFO COMPONENT */
.input_main {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.generalInfo--main,
.workExperience--main,
.educationalInfo--main {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.generalInfo--summary {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* *** WORK EXPERIENCE COMPONENT *** */


/* *** BUTTON ELEMENT *** */
.button-container {
  display: grid;
  grid-template-columns: min-content min-content;
  place-content: center;
  gap: 1rem;
}

.add-more-button > img,
.delete-button > img {
  place-self: center;
  height: 3rem;
  width: 10rem;
}

/* *** CVDOCUMENT COMPONENT *** */
.form--cv_container {
  height: 5rem;
  border: 5px solid salmon;
}

h4 {
  color: black;
  font-size: 100rem;
}