*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../../../../code/fonts/Lato/Lato/Lato-Black.ttf') format('ttf');
}

/* *** GENERAL *** */
label {
  font-size: 12px;
  color: rgb(176, 176, 176)
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', Georgia, 'Times New Roman', Times, serif;
  background-color: #F5F5FA;
}

input,
textarea,
.profile-image > label {
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  /* box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);  */
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  padding: 1.3rem 1rem;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  border-radius: 3px;
  font-size: 1.6rem;
  position: relative;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.cvdoc--container {
  border: 3px solid black;
  border-radius: 5px;
  width: 750px;
  padding: 1rem;
  place-self: center;
}

.cvdoc--body {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 1fr;
  min-height: 500px;
}

.professional--container {
  grid-column-start: 2;
  grid-row-start: 1;
  padding-left: 3rem;
}

.education--container {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-left: 3rem;
}

.professional--container > h2,
.education--container > h2 {
  font-size: 2.2rem;
  letter-spacing: 1.5px;
  border-bottom: 3px solid rgb(50, 86, 65);
}

/* *** GENERAL INFO SECTION *** */
.general--container {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.general--right {
  display: grid;
  padding-left: 3rem;
}

.general--left {
  display: grid;
  height: 150px;
  place-content: center;
  background-color: rgb(50, 86, 65);
}

.general--left > img {
  height: 120px;
  width: 170px;
}

.profile_name,
.profile_position {
  letter-spacing: 2.4px;
}

.profile_name > h2 {
  font-size: 7rem;
  font-weight: 800;
}

.profile_last_name {
  font-weight: 200;
}

.profile_last_name::before {
  content: ' ';
}

.profile_position > h3 {
  font-size: 1.5rem;
  font-weight: 200;
}

.profile_about_me > p {
  font-size: 0.9rem;
  font-weight: 200;
  padding-top: 1rem;
  opacity: 0.7;
}

/* !!! */

/* *** CONTACT SECTION *** */

.contact--container {
  background-color: rgb(50, 86, 65);
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 2rem;
}

.contact-info-container {
  display: grid;
  height: min-content;
  padding-left: 2rem;
  gap: 1rem;
  color: white;
}

.contact-info-container > label,
.contact-info-container > div > label {
  color: white
}

.contact_info {
  font-size: 1.7rem;
  letter-spacing: 1.5px;
  border-bottom: 2px solid white;
}


.cvdoc--education_info_header,
.cvdoc--work_info_header {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  padding-top: 2rem;
}

.cvdoc--education_info_body,
.cvdoc--work_info_body {
  padding: 5px 0 0 20px;

}

.work_info_title,
.education_info_title {
  display: flex;
  gap: 0.3rem;
  opacity: 0.5;
}


/* *** FORM COMPONENT *** */

.form--container {
  display: grid;
  grid-template-rows: min-content min-content;
}

.form--main {
  width: 100%;
  display: grid;
  gap: 5rem;
  padding: 2rem;
}

.generalInfo--main {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.generalInfo--main,
.workInfo--main,
.educationInfo--main {
  display: grid;
  gap: .5rem;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;

  border-top: 2px solid rgba(0,0,0,0.5);
}

 
.generalInfo--main > div > label,
.workInfo--main > div > label,
.educationInfo--main > div > label {
  position: absolute;
  z-index: 1;
  padding: 0 7px;
  font-size: 17px;
  color: gray;
  opacity: 0.8;
}

.input-about-me {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input-about-me > textarea {
  resize: none;
  width: 100%;
}

.form--title {
  font-size: 3rem;
  text-align: left;
  padding-bottom: 1.5rem;
  letter-spacing: 1.2px;
  color: rgb(1, 65, 64);
}

.button-container {
  display: grid;
  grid-template-columns: min-content min-content;
  place-content: center;
  gap: 1rem;
  padding: 1rem;
}

.section-buttons,
.submit--form {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: 200px;
  word-break: normal;
  word-spacing: normal;
  letter-spacing: 1.2px;
  font-family: 'Lato';
  font-weight: 600;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}

.submit--form {
  width: 70%;
  place-self: center; 
}

.profile-image {
  display: grid;
  width: 100%;
  place-content: center;
}

.profile-image > label {
  cursor: pointer;
}

.profile-image > input {
  display: none;
}